#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

ul{
  list-style-type: none;
  padding:0px
}

.chat-history {
  list-style: none;
  padding: 0;
  max-height: 600px;
  overflow: auto;
}

.chat-history li {
  display: flex;
  justify-content: flex-start;
  padding: 8px;
  border: 1px solid #ccc;
  margin: 5px 0;
  font-size: 12px;

  img.avatar{
    border-radius: 50%;
    border: 1px solid #fff;
  }
}
.chat-history li span{
  align-items: center;
  display: inherit;
  column-gap: 5px
}
.chat-history li.client {
  justify-content: flex-end;
  background-color: #888;
  color: black;
  
  span{
    flex-direction: row-reverse;
  }
}
.chat-room{
  display:flex;
  input{
    padding: 8px;
  }
  span{
    align-items: center;
    display: inherit;
  }
}


.chat-box{
  width:300px
}